<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Todo List</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/a6b0dde7b4.js"></script>
  <link rel="stylesheet" href="assets/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
2
<header id="home">
  <img src="assets/images/logo.jpg" alt="">
  <div id="container">
  </div>
  <a href="#screen1">
    <div class='scroll'></div>
  </a>
</header>

<body>
  <section id="screen1">
    <div class="card-container">
      <h2>TODO</h2>
      <div class="calendar-card card-1" style="color: black!important;">
        <div class="container" id="todo">
          <!-- Panel for holding our input -->
          <section class="panel">
            <form v-on:submit.prevent="addTask">
              <input type="text" placeholder="Task title" class="text-input" v-model="newTaskTitle">
              <input type="text" placeholder="What do you need to do?" class="text-input" v-model="newTaskContent">
              <button type="submit">Create</button>
            </form>
            <button v-on:click="clearList">Clear List</button>
          </section>
          <div class="card-container ">
            <div class="card card-1" v-for="(task, index) in taskList">
              <div class="card-topnew">
                {{ task.title }}
              </div>
              {{ task.text }}
              <hr>
              <button class="btn btn-border color-1 material-design" data-color="#2f5398" v-on:click="open(index)">option</button>
              <div class="selectStatus hidden" :id="index">
                <button class="btn btn-border color-2 material-design" data-color="#d2181c" onclick="done(this)">done</button>
                <hr>
                <button class="btn btn-border color-1 material-design" data-color="#d2181c" onclick="progress(this)">progress</button>
                <hr>
                <button class="btn btn-border color-4 material-design" data-color="#d2181c" v-on:click="deleteTask(task, index)">delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
<script>
  function progress(el) {
    el.parentNode.parentNode.firstChild.className = 'card-topprogress'
    el.parentNode.className = 'selectStatus hidden'
  }

  function done(el) {
    el.parentNode.parentNode.firstChild.className = 'card-topdone'
    el.parentNode.className = 'selectStatus hidden'
  }


  $(document).ready(function () {
    $('#nav-icon1').click(function () {
      $(this).toggleClass('open');
      $('#menu').toggleClass('open');
    });
  });
  $('a[href^="#"]').click(function () {
    var the_id = $(this).attr("href");
    $('html, body').animate({
      scrollTop: $(the_id).offset().top
    }, 'slow');
    return false;
  });
  $(document).ready(function () {
    $(window).bind('scroll', function () {
      var navHeight = $(window).height() - 70;
      if ($(window).scrollTop() > navHeight) {
        $('nav').addClass('fixed');
      } else {
        $('nav').removeClass('fixed');
      }
    });
  });
</script>
<script src="js/main.js">
 
</script>

</html>