html,
body,
header,
main {
  height: 100vh;
}

ul {
  list-style-type: none;
}

header {
  background: -webkit-linear-gradient(top, #fff, grey);
  background: linear-gradient(top left, #fff, grey);
}

.scroll {
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 0;
  width: 0;
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
  border-bottom: 80px solid white;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.scroll:before {
  content: '';
  position: absolute;
  top: 45px;
  left: 50%;
  height: 20px;
  width: 30px;
  margin-top: -5px;
  margin-left: -15px;
  background: -webkit-linear-gradient(top left, #e84c00, #c10040);
  background: linear-gradient(top left, #e84c00, #c10040);
  -webkit-clip-path: polygon(15% 0, 50% 60%, 85% 0, 100% 20%, 50% 100%, 0 20%);
  clip-path: polygon(15% 0, 50% 60%, 85% 0, 100% 20%, 50% 100%, 0 20%);
  -webkit-animation: bounce 2s ease infinite;
  animation: bounce 2s ease infinite;
}

header img {
  margin-top: 10%;
}

@-webkit-keyframes bounce {
  50% {
    -webkit-transform: scale(0.75) translateY(-50%);
    transform: scale(0.75) translateY(-50%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  50% {
    -webkit-transform: scale(0.75) translateY(-50%);
    transform: scale(0.75) translateY(-50%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

a {
  text-decoration: none;
}
/* This class is added on scroll */

.fixed {
  position: fixed;
  top: 0;
  height: 70px;
  z-index: 1;
}

body {
  color: #fff;
  font-family: 'open-sans-bold', AvenirNext-Medium, sans-serif;
  font-size: 18px;
  text-align: center;
}
/* Navigation Settings */

#screen1 {
  background: #43b29d;
}

#screen1 p {
  padding-top: 100%;
}

#container {
  position: absolute;
  top: 65%;
  left: 48%;
}

#input {
  position: relative;
  margin-top: -20px;
  margin-left: -120px;
}



.card-container {
  padding: 9%;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  top: 25%;
  margin: 1rem;
  width: 300px;
}

.calendar-card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  top: 15%;
  margin: 1rem;
  width: 90%;
}

.card-topnew {
  background-color: #e50000!important;
  height: 60%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-topdone {
  background-color: #00cd00!important;
  height: 60%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-topprogress {
  background-color: #3299ff!important;
  height: 60%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


.calendar-card-top {
  background-color: #efc94d;
  height: 10%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.btn {
  position: absolute;
  border: none;
  color: white;
  overflow: hidden;
  margin: 1rem;
  padding: 0;
  text-transform: uppercase;
  width: 150px;
  height: 40px;
}

.btn.color-1 {
  background-color: #426FC5;
}

.btn.color-2 {
  background-color: #00897b;
}

.btn.color-3 {
  background-color: #f6774f;
}

.btn.color-4 {
  background-color: #e94043;
}

.btn-border.color-1 {
  background-color: transparent;
  border: 2px solid #426FC5;
  color: #426FC5;
}

.btn-border.color-2 {
  background-color: transparent;
  border: 2px solid #00897b;
  color: #00897b;
}

.btn-border.color-3 {
  background-color: transparent;
  border: 2px solid #f6774f;
  color: #f6774f;
}

.btn-border.color-4 {
  background-color: transparent;
  border: 2px solid #e94043;
  color: #e94043;
}

.btn-round {
  border-radius: 10em;
}

.material-design {
  position: relative;
}

.material-design canvas {
  opacity: 0.25;
  position: absolute;
  top: 0;
  left: 0;
}

.selectStatus {
  position: absolute;
  align-content: center;
  background-color: #cccccc;
  border-radius: 10px;
}

.hidden {
  display: none;
}